<div class="card animated fadeIn fast">
  <img [src]="producto.image" class="card-img-top imgSize align-self-center" [alt]="producto.nombre">

  <div class="card-body">
    <h5 class="card-title">{{ producto.name }}</h5>
    <p class="card-text"><small class="text-muted">S/ {{ producto.price|number:'.2-2' }}</small></p>
    <label>Cantidad</label>
    <input value="1" style="width:150px" type="number" class="form-control" #cantidad>
    <button (click)="agregarCarrito(cantidad.value, producto)" type="button" class="btn btn-primary mt-2">Agregar al
      Carrito</button>
  </div>
</div>