#contain {
    width: 347px;
    height: 354px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgSize {
    margin: 20px;
    width: 150px;
    height: 150px;
    object-fit: contain;
}